@keyframes Changetitle {
  0% {
    font-family: 'Minhye';
  }
  30% {
    font-family: 'Chilgok_Kaj';
  }

  65% {
    font-family: 'UhBeeDoolDool';
  }
  100% {
    font-family: 'SangSangShinb7';
  }
}
