doctype html
html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel='stylesheet' href='../css/index.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css')
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    link(rel='shortcut icon' href='../img/SVG/gif/favicon.ico' type='image/x-icon')
    link(rel='icon' href='../img/SVG/gif/favicon.ico' type='image/x-icon')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    title Coraline
  body
    .buttonline
    article.bigButton
      .bigButton__innder
    .keybox
      h1.keyboxtitle
        p CLICK 표시를 따라가봐!
        p 재미있는것들이 숨어있을거야.
    section.bigHousewapper
      .spider
        .spiderweb
        .body
          .eye.left
          .eye.right
        .legs.left
          .leg
          .leg
          .leg
        .legs.right
          .leg
          .leg
          .leg
      section.introwapper
        h1.introtitle "Be Careful What you wish for!"
        img(src='../img/SVG/gif/gif7.gif' alt='catandhome')
        h2.introduce
          | 본 페이지는 포트폴리오용 페이지입니다.
      header.CoralineTitle
        h1.maintitle.titleC C
        img.title_button(src='../img/SVG/button.svg')
        h1.maintitle.titler r
        h1.maintitle.titlea a
        h1.maintitle.titlel l
        h1.maintitle.titlei i
        h1.maintitle.titlen n
        h1.maintitle.titlee e
      section.infowapper
        section.gifsection
          i#homeclosebtn.xi-cut
          section.houseimage
            .himage.imgone
            .himage.imgtwo
            .himage.imgthree
            .himage.imgfour
            .himage.imgfive
          img.coraline_house_info_img(src='../img/SVG/head2.png' alt='cohead')
          h1.gifsectionheader 우리가족이 사는곳이야
          .houseintrobox
            p 부모님의 일때문에 이사오게 되었어.
            p 이곳은 이웃들도 모두 괴짜에다가..
            p 말도 통하지 않아서 정이 안들어!
            p 아무튼 조금 이상한 곳 같아.
      .buttonwapper
        article.coralinebutton
      img.bats(src='../img/SVG/bat.svg' alt='bats')
      article.moon2
      article.moon
        .moonslip
      object.treeimg(data='../img/SVG/tree.svg' type='image/svg+xml')
      .catgifcontior
        i#catclosebtn.xi-cut
        img.catgif(src='../img/SVG/gif/gif1.gif' alt='cat1')
        .catsinfo
          p 삐쩍 마르고 수상한 고양이...
          p 이녀석의 정체는 뭐지?
      #catcontainer.catcontainer
        img#catimg.catimg(src='../img/SVG/gott.png' alt='coralinecat')
      article.pinkplave
        img.pinkplace(src='../img/SVG/pinkplace.png' alt='pinkplace')
        img#bigpinkplace.bigpinkplace(src='../img/SVG/bigpinkplave.png' alt='bigpp')
      section.youtubewapper
        i#youtubeclosebtn.xi-cut
        .iframewapper
          h1.movietitle Theatrical trailer
          iframe.moviecoraline(width='600' height='370' src='https://www.youtube.com/embed/P8lfdvXkhu0' autoplay='1&mute=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        article.movieinfomation
          h1.movieinfotitle story
          
          .storywapper
          
      .coralinewappr
        i#aboutcoralineclosebtn.xi-cut
        .fakecogif
          h1.giftitle a strange doll
          img(src='../img/SVG/gif/gif3.gif' alt='gif3')
          .infogif
            p 이사온 집에서 발견했어
            p 나를 똑 닮은 인형이야 계속 함께놀고있어. 
            p 그런데 기분탓인가...?
            p
              span 누군가 계속 나를 지켜보고 있는 것 같은데...
            i#gif3closebtn.xi-cut
        .hairpingif
          h1.giftitle favorit
          i#gif4closebtn.xi-cut
          article.myslidercon
            i.xi-angle-left-min.prevbtn
            .slidimgs
            i.xi-angle-right-min.nextbtn
          .infogif
            p
              span 내 핀 예쁘지? 잠자리야!
            p
              span 나는 곤충을 정말 좋아해!
            p 내방 벽지도 곤충으로 되어있어
            p 넘기면서 한번 구경해볼래??
        object.arrowtobottm(data='../img/SVG/arrow.svg' type='image/svg+xml')
        article.coralineinformation
          .circleforbutton.top-rigth
          .circleforbutton.top-left
          .circleforbutton.bottom-right
          .circleforbutton.bottom-left
          #mainimgcon.mainimgcon
          section.menuicons
            .aboutcoraline
            .fakeco
              img#fakecobtn.fakeco.aboutcoralinebtn(src='../img/SVG/fakeco.png' alt='fakeco')
            .hairpin
              img#hairpin.hairpin.aboutcoralinebtn(src='../img/SVG/hairpin.png' alt='hairpin')
            .storybord
              h1.corailnejones
                | information
              i#infoclosebtn.xi-cut
              .corailnejones_infomation
                p 나는 11살이야.
                p 이제 막 중학교에 올라가.
                p.indent 사실..이곳은 굉장히 정말로 마음에 안들어!
                p 엄마아빠는 바빠서 쉴틈도 없고, 친구들도 이젠 없어.
                p 혼자서 지루하고 따분해!!
                p.indent 뭐 신나는 일 없을까?
            div
            div
      .coralinecontainer
        figure.infocoralinebox
          h1.coralineinfo__title 
        p.clickcorailne click me!
        img#coralinepng.coralinepng(src='../img/SVG/coraline.png' alt='coraline')
      section.coralineHouse
        img#coralinehome.coralinehome(src='../img/SVG/jouetspng3.png' alt='home')
      footer.Coralinefooter
    script(src='../js/index.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
