doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/index.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    title Detail Page
  body
    section.detailpagewapper
      header.detailpage--haader 
      nav.detailpage--nav
          ul.nav--ul
            li.nav--ul--li
              a.li--a#asics(href="#") JOG100-S
            li.nav--ul--li
              a.li--a#keybord(href="#") RECTO-KEYBORD
            li.nav--ul--li
              a.li--a#book(href="#") DARAGUT

      section.detailpage--section
    script(src="../js/index.js") 